.card-container {
    display: flex;
    flex-direction: column;
    background-color: #9595CC;
    padding: 25px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5%;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}